header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 5px 0 5px #1a35afe8;
    background-color:rgb(236, 231, 231);
}
h3{
    font-size: 40px;
}
h3:hover{
    background-color: rgb(211, 202, 202);
    cursor: pointer;
    
}
.section1{
    background-color: azure;
}

.section1 p{
    font-size: 30px;
padding-top: 20px;
}
.divv{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.imgg{
    padding-top: 20px;
width: 318px;
height: 240px;
}
.divvv article{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.divvv img{width: 151px;
    height: 333px;
}
.divvv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div2{display: flex;
flex-direction: column;}
.div3{
    display: flex;
    flex-direction: column;
}
img:hover{width: 300px;
    height: 200px;}
video{
    width: 1348px;
    height: 690px;
}
section select{
    border: 0px;
        background-color: transparent;
        font-size: 30px;

        
}
.vv article{
    text-align: center;
    color: blue;
     font-size: 20px;  
}